@use "mixin" as mixin;

.contact-box {
  h3 {
    font-size: 1.6rem;
  }

  .form-area {
    margin: 50px 0;
    padding: 20px;
    background-color: #f7f7f7;

    table {
      width: 90%;
      margin: 0 auto 50px;
      border-collapse: collapse;
      @include mixin.sp {
        width: 100%;
      }

      tr {
        @include mixin.tab {
          display: flex;
          flex-wrap: wrap;
        }

        td {
          padding: 20px;
          border-bottom: solid 1px #6c6c6c;

          &:nth-child(1) {
            width: 40%;
            text-align: left;
            @include mixin.tab {
              width: 75%;
              padding-bottom: 0;
              border-bottom: none;
            }
            @include mixin.sp {
              width: 100%;
            }
          }

          &:nth-child(2) {
            width: 15%;
            @include mixin.tab {
              width: 25%;
              padding-bottom: 0;
              border-bottom: none;
              text-align: left;
            }
            @include mixin.sp {
              width: 100%;
              padding-top: 0;
            }
          }

          &:nth-child(3) {
            width: 45%;
            @include mixin.tab {
              width: 100%;
              padding-top: 0;
            }
          }
        }
        &:last-child td {
          border-bottom: none;
        }

        label {
          font-size: 1.1rem;
        }

        .required {
          font-size: 0.9em;
        }

        input,
        textarea {
          width: 100%;
          padding: 10px;
          border: 1px solid #ccc;
          border-radius: 4px;
          background-color: #ffffff;
        }

        textarea {
          height: 100px;
          resize: vertical;
        }
      }
    }
  }
}
